
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

/* ANIMATED BLOBS */

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(90px);
    opacity: 0.35;
    z-index: -1;
    animation: float 10s ease-in-out infinite;
}

.blob1 {
    width: 350px;
    height: 350px;
    background: #38bdf8;
    top: -120px;
    left: -120px;
}

.blob2 {
    width: 300px;
    height: 300px;
    background: #7c3aed;
    bottom: -100px;
    right: -100px;
}

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
    }

}

/* NAVBAR */

.navbar {
    width: 90%;
    height: 90px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 28px;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.10);

    border-radius: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo img{
    width: 164px;
    height: 164px;
    object-fit: contain;
    display: block;
}

.logo span{
    color: white;
    font-size: 32px;
    font-weight: 700;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/*  HERO  */

.hero {
   min-height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 10px;
}

.hero-content {
    max-width: 800px;
    animation: fadeUp 1s ease;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 25px;
    line-height: 1.2;
}

.hero p {
    font-size: 1.2rem;
    color: #d1d5db;
    line-height: 1.8;
    margin-bottom: 40px;
}

/* SEARCH BOX  */

.search-box {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    flex-wrap: wrap;

    padding: 18px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 60px;
}

.search-box input {

    width: 320px;

    border: none;
    outline: none;

    background: transparent;

    color: white;

    font-size: 1rem;
}

.search-box input::placeholder {

    color: #cbd5e1;

}

.search-box button {

    border: none;

    cursor: pointer;

    padding: 16px 36px;

    border-radius: 50px;

    color: white;

    font-size: 1rem;

    background: linear-gradient(
        135deg,
        #38bdf8,
        #0ea5e9
    );

    transition: .35s;
}

.search-box button:hover {

    transform: translateY(-4px);

    box-shadow: 0 0 30px rgba(56,189,248,.45);

}

/* ANIMATIONS  */

@keyframes fadeUp {

    from {

        opacity: 0;

        transform: translateY(50px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

/*  RESPONSIVE */

@media (max-width:768px) {

    .navbar {

        flex-direction: column;

        gap: 20px;

    }

    .nav-links {

        gap: 20px;

    }

    .hero h1 {

        font-size: 2.5rem;

    }

    .hero p {

        font-size: 1rem;

    }

    .search-box {

        width: 100%;

    }

    .search-box input {

        width: 100%;

    }

}

/*Profile Section*/

.profile-section{

    width:90%;

    margin:50px auto;

}

#profileContainer{

    display:flex;

    justify-content:center;

}

.profile-card{

    width:100%;

    max-width:800px;

    padding:30px;

    border-radius:20px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.1);

    display:flex;

    gap:30px;

    align-items:center;

}

.profile-card img{

    width:150px;

    border-radius:50%;

}

.profile-info h2{

    margin-bottom:10px;

}

.profile-info p{

    color:#d1d5db;

    margin-bottom:8px;

}
/*Statistics*/

.stats-section{

    width:90%;
    margin:35px auto;

}

.stats-section h2{

    margin-bottom:30px;

    text-align:center;

}

.stats-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}

.stat-card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    padding:20px;

    border-radius:20px;

    text-align:center;

}

.stat-card h3{

    font-size:2rem;

    color:#38bdf8;

}

/* Repo Search */

.repo-section{

    width:90%;
    margin:60px auto;

}

#repoSearch{

    width:100%;

    padding:15px 20px;

    border:none;

    outline:none;

    border-radius:15px;

    margin-bottom:30px;

    font-size:1rem;

}

/*Repository Cards*/

#repoContainer{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:25px;

}

.repo-card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:25px;

    transition:.3s;

}

.repo-card:hover{

    transform:
    translateY(-8px)
    scale(1.02);

    box-shadow:

    0 20px 40px

    rgba(56,189,248,.2);

}

.repo-card h3{

    margin-bottom:15px;

}

.repo-card p{

    margin:8px 0;

    color:#d1d5db;

}

.repo-card a{

    display:inline-block;

    margin-top:15px;

    color:#38bdf8;

    text-decoration:none;

}
/*Language Chart*/

.chart-section{

    width:90%;

    margin:35px auto;

}

.chart-card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:20px;

    padding:30px;

}

.chart-card h2{

    text-align:center;

    margin-bottom:25px;

}

#languageChart{

    max-height:320px;

}
/*Repository Controls*/

.repo-controls{

    display:flex;

    justify-content:space-between;

    gap:20px;

    margin-bottom:30px;

    flex-wrap:wrap;

}

#sortRepos{

    padding:15px;

    border:none;

    border-radius:12px;

    background:#1e293b;

    color:white;

    font-size:1rem;

}

/*Loading*/

.loading{

    display:none;

    text-align:center;

    font-size:1.2rem;

    color:#38bdf8;

    margin-bottom:25px;

}
/*Portfolio Score*/

.score-section{

    width:90%;

    margin:35px auto;

}

.score-card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border-radius:18px;

    padding:14px 18px;

    text-align:center;

}

#portfolioScore{

    font-size:4rem;

    color:#38bdf8;

    margin:20px 0;

}

#portfolioRemark{

    color:#d1d5db;

}

.skeleton{

    height:180px;

    border-radius:20px;

    background:linear-gradient(
        90deg,
        #1e293b,
        #334155,
        #1e293b
    );

    background-size:300%;

    animation:skeleton 1.2s infinite;

}

@keyframes skeleton{

    0%{

        background-position:300%;

    }

    100%{

        background-position:-300%;

    }

}
.examples-text{
    text-align:center;
    margin-top:15px;
    color:#94a3b8;
    font-size:14px;
    font-weight:500;
}

.examples-text span{
    color:#38bdf8;
    cursor:pointer;
    transition:0.3s;
}

.examples-text span:hover{
    color:#67e8f9;
}
.stat-card,
.repo-card,
.profile-card,
.score-card,
.chart-card{
    transition: all .3s ease;
}

.stat-card:hover,
.score-card:hover,
.chart-card:hover{
    transform: translateY(-6px);
    box-shadow:0 15px 35px rgba(56,189,248,.15);
}
footer{
    margin-top:40px;
    text-align:center;
    padding:30px 0px;
    color:#94a3b8;
}